fastapi
uvicorn[standard]
gunicorn
python-multipart
chromadb
langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
sentence-transformers
pymupdf
python-pptx
python-docx
pydantic-settings
loguru
python-dotenv
pydantic
python-jose[cryptography]
bcrypt
slowapi
